<!DOCTYPE html>
<html lang="en">
	<%- include ('./partials/head') %>
	<body>
		<%- include ('./partials/header') %>
		<main class="container">
			<h1>Compose</h1>
			<form method="POST" action="/composeInput">
				<div class="form-group">
					<label for="postTitle">Title:</label>
					<input
						type="text"
						name="postTitle"
						placeholder="Enter title"
						class="form-control"
					/>
				</div>
				<div class="form-group">
					<label for="postBody">Content:</label>
					<textarea
						name="postBody"
						cols="30"
						rows="10"
						class="form-control"
					></textarea>
				</div>
				<button type="submit" class="btn btn-primary">Compose</button>
			</form>
		</main>
		<%- include ('./partials/footer') %>
	</body>
</html>
