<!DOCTYPE html>
<html lang="en">
	<%- include ('./partials/head') %>
	<body>
		<%- include ('./partials/header') %>
		<main class="container">
			<h1>Compose</h1>
			<form method="POST" action="/composeInput">
				<input type="text" name="content" placeholder="Enter content" />
				<button type="submit" name="compose">Compose</button>
			</form>
		</main>
		<%- include ('./partials/footer') %>
	</body>
</html>
